<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
        &nbsp;Back
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="toggleFavorite()">
        <ion-icon *ngIf="!favorite" class="icon-2x" name="heart-outline"></ion-icon>
        <ion-icon *ngIf="favorite" class="icon-2x" name="heart" color="danger"></ion-icon>
      </button>
      <button ion-button *ngIf="this.midi.exists" (click)="playHymn()">
        <ion-icon class="icon-2x" name="musical-notes"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> #{{currHymn.number}} - {{currHymn.title}} </ion-title>
  </ion-toolbar>

</ion-header>


<ion-content padding>
	<ion-slides *ngIf="hymns" [options]="hymnSliderOptions" (ionDidChange)="changeHymns($event)">
    <ion-slide *ngIf="hymns && hymns[totalHymnSlides-1]">
      <hymn [hymn]="hymns[totalHymnSlides-1]"></hymn>
    </ion-slide>
		<ion-slide *ngFor="let hymn of hymns">
		  <hymn [hymn]="hymn"></hymn>
		</ion-slide>
    <ion-slide *ngIf="hymns && hymns[0]">
      <hymn [hymn]="hymns[0]"></hymn>
    </ion-slide>
	</ion-slides>
</ion-content>
