<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <ion-icon name="arrow-back" color="primary"></ion-icon>
        &nbsp;Back
      </button>
    </ion-buttons>
    <ion-title> {{hymn.title}} </ion-title>
  </ion-toolbar>

</ion-header>



<ion-content padding>
  <h3 class="hymn-title">{{hymn.title}}</h3>
  <!-- Verse 1 -->
  <div class="verse">
    <h4>1</h4>
    <p [innerHTML]="hymn.verses['1']"></p>
  </div>
  <!-- Chorus -->
  <div class="verse chorus" *ngIf="hymn.verses['chorus']">
    <h4>CHORUS</h4>
    <p [innerHTML]="hymn.verses['chorus']"></p>
  </div>
  <!-- Other Verses -->
  <div class="verse" *ngFor="let verse of otherVerses;">
    <h4>{{verse}}</h4>
    <p [innerHTML]="hymn.verses[verse]"></p>
  </div>
</ion-content>
